@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/utils/placeholders/buttons/button' as *;


.category-aside {
	width: 100%;
	height: 100%;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	flex-shrink: 0;
	border: 1px solid v.$c-gray-m;
	border-radius: v.$br4;
	padding: 40px 20px;
	background-color: v.$c-white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	overflow-y: auto;

	&.opened {
		display: flex;
	}

	@media(min-width: v.$lg) {
		position: static;
		display: flex;
		width: 341px;
		padding: 20px;
	}

	.aside-mobile {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16px;
		justify-content: space-between;

		@media(min-width: v.$lg) {
			display: none;
		}

		span {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 20px;
			line-height: v.$lh130;
			color: v.$c-black;
		}

		.close-filter {
			@extend %button;

			width: 24px;
			height: 24px;
			display: flex;
			align-items: center;
			justify-content: center;

			@media(min-width: v.$md) {
				width: 46px;
				height: 46px;
			}

			span {
				width: 100%;
				height: 1px;
				background-color: v.$c-black;
				position: relative;
				transform: rotate(45deg);

				&::after {
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					transform: translateY(-50%) rotate(90deg);
					width: 100%;
					height: 1px;
					background-color: v.$c-black;
				}
			}
		}
	}



	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
	}

	&-dropdown {
		width: 100%;
		border-bottom: 1px solid v.$c-gray-m;
		padding-bottom: 30px;

		&.opened {
			.dropdown-start {
				margin-bottom: 20px;

				img {
					transform: rotate(180deg);
				}
			}
		}

		.dropdown-start {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 14px;
			transition: margin ease-in-out 1s;

			&-text {
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 16px;
				font-family: v.$ff;
				font-weight: v.$fw-500;
				font-size: 16px;
				line-height: v.$lh130;
				color: v.$c-black;

				img {
					flex-shrink: 0;
					width: 20px;
					height: 9px;
					transition: transform ease-in-out v.$tr;
				}
			}

			&-subtext {
				width: 100%;
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 12px;
				line-height: v.$lh150;
				color: v.$c-black;
				margin-top: 20px;
			}
		}

		.dropdown-radios {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}
	}

	.aside-actions {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		button {
			width: 100%;
		}
	}
}