@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.category-wrapper {
	width: 100%;
}

.category-inner {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;

	@media(min-width: v.$lg) {
		flex-direction: row;
	}
}

.category-items {
	width: 100%;
	display: flex;
	flex-direction: column;
	flex-grow: 1;

	&-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		padding-bottom: 30px;
		border-bottom: 1px solid v.$c-gray-m;

		@media(min-width: v.$md) {
			gap: 50px;
		}
	}

	.category-title {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		@media(min-width: v.$md) {
			gap: 14px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-700;
			font-size: 20px;
			line-height: v.$lh150;
			color: v.$c-black;

			@media(min-width: v.$md) {
				font-size: 36px;
			}
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 14px;
			line-height: v.$lh150;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 16px;
			}
		}

		.read-more {
			@extend %button;

			display: none;
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 14px;
			line-height: v.$lh150;
			color: v.$c-gray;
			cursor: pointer;
			text-decoration: underline;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			&.is-visible {
				display: flex;
			}
		}
	}

	.category-links {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
		gap: 10px;

		@media(min-width: v.$md) {
			flex-direction: row;
			gap: 16px;
		}

		&-items {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 16px;

			a:nth-child(n + 6) {
				display: none;
			}
		}

		&.opened {
			.category-links-items {
				a:nth-child(n + 6) {
					display: flex;
				}
			}

			.show-more img {
				transform: rotate(180deg);
			}
		}

		.show-more {
			display: flex;
			align-items: center;
			flex-shrink: 0;
			gap: 8px;
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 16px;
			line-height: v.$lh150;
			color: v.$c-gray;
			cursor: pointer;

			img {
				width: 12px;
				height: 12px;
				transition: transform ease-in-out v.$tr;
			}
		}
	}

	h5 {
		font-family: v.$ff;
		font-weight: v.$fw-500;
		font-size: 20px;
		line-height: v.$lh130;
		color: v.$c-black;

		@media(min-width: v.$md) {
			font-size: 36px;
		}
	}

	.category-cards {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 40px;
		}

		&-panel {
			position: relative;
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			margin-top: 30px;

			@media(min-width: v.$lg) {
				justify-content: flex-end;
			}

			.show-filter {
				@extend %button;

				width: 32px;
				height: 32px;
				padding: 6px;

				@media(min-width: v.$lg) {
					display: none;
				}

				img {
					width: 100%;
					height: 100%;
				}
			}

			.sort {
				@extend %button;

				display: flex;
				align-items: center;
				gap: 8px;


				&-inner {
					display: flex;
					align-items: center;
					gap: 8px;
				}

				&-title {
					font-family: v.$ff;
					font-weight: v.$fw-500;
					font-size: 14px;
					line-height: v.$lh150;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						font-size: 16px;
					}
				}

				&-value {
					font-family: v.$ff;
					font-weight: v.$fw-300;
					font-size: 14px;
					line-height: v.$lh150;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						font-size: 16px;
					}
				}
			}
		}

		&-items {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: stretch;
			gap: 60px 20px;

			.card {
				width: 100%;

				@media(min-width: v.$sm) {
					width: calc(100% / 2 - 10px);
				}

				@media(min-width: v.$md) {
					width: calc(100% / 2 - 17px);
				}

				@media(min-width: v.$xl) {
					width: calc(100% / 3 - 14px);
				}
			}
		}
	}
}