@use '../../../scss/vars/vars' as v;

.pagination {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	gap: 10px;

	&-button {
		width: 32px;
		height: 32px;
		aspect-ratio: 1;

		@media(min-width: v.$md) {
			width: 50px;
			height: 50px;
		}
	}
}