@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.news-bottom {
	padding: 40px 0 120px;

	@media(min-width: v.$xl) {
		padding: 60px 0 240px;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 40px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 20px;
			line-height: 100%;

			@media(min-width: v.$md) {
				font-size: 36px;
			}
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: flex-start;
		gap: 32px;

		@media (min-width: v.$md) {
			justify-content: flex-start;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: v.$sm) {
			width: calc(100% / 2 - 16px);
		}

		@media (min-width: v.$md) {
			width: calc(100% / 3 - 22px);
		}

		&-img {
			width: 100%;
			height: 240px;
			margin-bottom: 10px;

			@media (min-width: v.$md) {
				height: 300px;
				margin-bottom: 20px;
			}

			@media (min-width: v.$xl) {
				height: 388px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: v.$br4;
			}
		}

		&-text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 20px;

			@media(min-width: v.$md) {
				margin-bottom: 34px;
			}

			h4 {
				font-family: v.$ff;
				font-weight: v.$fw-500;
				line-height: v.$lh130;
				font-size: 20px;
				color: v.$c-black;
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				line-height: v.$lh130;
				font-size: 14px;
				color: #717378;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 4;
				line-clamp: 4;

				@media (min-width: v.$md) {
					font-size: 16px;
					-webkit-line-clamp: 8;
					line-clamp: 8;
				}
			}
		}

		a {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			line-height: v.$lh150;
			font-size: 14px;
			color: v.$c-gray;
			text-decoration: underline;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			@include g.hover {
				opacity: v.$op;
				text-decoration: none;
			}
		}
	}

	&-desc {
		width: 100%;
		margin-top: 30px;

		@media (min-width: v.$md) {
			margin-top: 50px;
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh130;
			font-size: 14px;
			color: #717378;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			overflow: hidden;
			-webkit-line-clamp: 4;
			line-clamp: 4;

			@media (min-width: v.$md) {
				font-size: 16px;
				-webkit-line-clamp: 8;
				line-clamp: 8;
			}
		}
	}
}