@use '../../../scss/vars/vars' as v;
@use '../../../scss/mixins/global' as g;

.card {
	width: 100%;
	background-color: v.$c-white;

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-img {
		width: 100%;
		height: 250px;
		border-radius: v.$br4;
		margin-bottom: 10px;
		transition: opacity ease-in-out v.$tr;

		@media(min-width: v.$md) {
			height: 270px;
			margin-bottom: 20px;
		}

		@media(min-width: v.$lg) {
			height: 287px;
		}

		@media(min-width: v.$xl) {
			height: 287px;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: v.$br4;
		}

		@include g.hover {
			opacity: v.$op;
		}
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;

		&-top {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 8px;
			margin-bottom: 10px;

			@media(min-width: v.$md) {
				margin-bottom: 20px;
				gap: 16px;
			}
		}
	}

	&-labels {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&-rate {
		display: flex;
		align-items: center;
		gap: 8px;

		img {
			width: 14px;
			height: 14px;

			@media(min-width: v.$md) {
				width: 20px;
				height: 20px;
			}
		}

		span {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 12px;
			line-height: v.$lh150;

			@media(min-width: v.$md) {
				font-size: 14px;
			}
		}
	}

	&-desc {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-title {
		width: 100%;
		margin-bottom: 10px;

		@media(min-width: v.$md) {
			margin-bottom: 20px;
		}

		h5 {
			display: flex;
			flex-direction: column;
			font-family: v.$ff;
			font-weight: v.$fw-300;
			color: v.$c-gray;
			font-size: 20px;
			line-height: v.$lh130;

			em {
				font-style: normal;
				font-weight: v.$fw-700;
			}
		}
	}

	&-stat {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 8px;
		padding-bottom: 20px;
		border-bottom: 1px solid v.$c-light;
		margin-bottom: 10px;

		@media(min-width: v.$md) {
			margin-bottom: 20px;
			gap: 14px;
		}
	}

	&-row {
		width: 100%;
		display: flex;
		align-items: center;

		span {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 16px;
			line-height: v.$lh150;
			color: v.$c-gray;
		}
	}

	&-col {
		width: 100%;
		display: flex;
		align-items: center;

		&-item {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 16px;
				height: 16px;

				@media(min-width: v.$md) {
					width: 20px;
					height: 20px;
				}
			}
		}

		&-type {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10px;

			@media(min-width: v.$md) {
				gap: 16px;
			}

			.left {
				display: flex;
				align-items: center;
				gap: 8px;

				@media(min-width: v.$md) {
					gap: 14px;
				}

				.types {
					display: flex;
					align-items: center;

					.type {
						&.active {
							color: v.$c-accent;
						}
					}
				}
			}

			.right {
				display: flex;
				align-items: center;
				gap: 8px;

				@media(min-width: v.$md) {
					gap: 14px;
				}

				img {
					width: 16px;
					height: 16px;

					@media(min-width: v.$md) {
						width: 20px;
						height: 20px;
					}
				}
			}
		}
	}

	&-price {
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 10px;

		@media(min-width: v.$md) {
			gap: 16px;
			margin-bottom: 20px;
		}

		.old-price {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			color: #BABABA;
			font-size: 16px;
			text-decoration: line-through;
		}

		.new-price {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			line-height: v.$lh150;
			font-size: 24px;
			color: v.$c-accent;
		}
	}

	&-nums {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 8px;
		margin-bottom: 24px;

		@media(min-width: v.$md) {
			margin-bottom: 20px;
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		justify-content: space-between;
		gap: 8px;

		@media(min-width: v.$md) {
			gap: 16px;
		}
	}

	.add {
		min-width: 120px;
		min-height: 50px;
		z-index: 1;
		transition: opacity ease-in-out v.$tr;

		@media(min-width: v.$md) {
			min-width: 137px;
		}

		@include g.hover {
			opacity: v.$op;
		}
	}
}

.color-label {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 6px 12px;
	border-radius: v.$br4;
	color: v.$c-white;
	font-weight: v.$fw-300;
	font-family: v.$ff;
	font-size: 12px;
	line-height: v.$lh150;

	@media(min-width: v.$md) {
		padding: 6px 15px;
		font-size: 14px;
	}

	&.red {
		background-color: v.$c-redwood;
	}

	&.blue {
		background-color: v.$c-blue;
	}

	&.orange {
		background-color: v.$c-orange;
	}
}