@use '../../../scss/vars/vars' as v;
@use '../../../scss/mixins/global' as g;

.card {
	width: 100%;
	background-color: v.$c-white;

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-img {
		width: 100%;
		height: 287px;
		border-radius: v.$br4;
		margin-bottom: 20px;
		transition: opacity ease-in-out v.$tr;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			border-radius: v.$br4;
		}

		@include g.hover {
			opacity: v.$op;
		}
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;

		&-top {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			margin-bottom: 20px;
		}
	}

	&-labels {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&-label {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 6px 15px;
		border-radius: v.$br4;
		color: v.$c-white;
		font-family: v.$ff;
		font-size: 14px;
		line-height: v.$lh150;

		&.red {
			background-color: v.$c-red;
		}

		&.blue {
			background-color: v.$c-blue;
		}
	}

	&-rate {
		display: flex;
		align-items: center;
		gap: 8px;

		img {
			width: 20px;
			height: 20px;
		}

		span {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 14px;
			line-height: v.$lh150;
		}
	}

	&-desc {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}

	&-title {
		width: 100%;
			margin-bottom: 20px;

		h5 {
			display: flex;
			flex-direction: column;
			font-family: v.$ff;
			font-weight: v.$fw-300;
			color: v.$c-gray;
			font-size: 20px;
			line-height: v.$lh130;

			em {
				font-style: normal;
				font-weight: v.$fw-700;
			}
		}
	}

	&-stat {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;
		padding-bottom: 20px;
		border-bottom: 1px solid v.$c-light;
		margin-bottom: 20px;
	}

	&-row {
		width: 100%;
		display: flex;
		align-items: center;

		span {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 14px;
			line-height: v.$lh150;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 16px;
			}
		}
	}

	&-col {
		width: 100%;
		display: flex;
		align-items: center;

		&-item {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 10px;

			img {
				width: 20px;
				height: 20px;
			}
		}

		&-type {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			.left {
				display: flex;
				align-items: center;
				gap: 14px;

				span {}

				.types {
					display: flex;
					align-items: center;

					.type {
						&.active {
							color: v.$c-accent;
						}
					}
				}
			}

			.right {
				display: flex;
				align-items: center;
				gap: 14px;

				img {
					width: 20px;
					height: 20px;
				}

				span {}
			}
		}
	}

	&-price {
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 20px;

		.old-price {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			color: #BABABA;
			font-size: 16px;
			text-decoration: line-through;
		}

		.new-price {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			line-height: v.$lh150;
			font-size: 24px;
			color: v.$c-accent;
		}
	}

	&-nums {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16px;
		margin-bottom: 20px;
	}

	&-bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	&-counter {
		display: flex;
		align-items: center;

		.decr, .incr {
			width: 36px;
			height: 36px;
			padding: 0;
			border-color: transparent;
			transition: background-color ease-in-out v.$tr;

			&:active {
				background-color: v.$c-light;
			}

			span {
				width: 12px;
				height: 2px;
				border-radius: v.$br4;
				background-color: v.$c-black;
				aspect-ratio: 1;
			}

			&.incr {
				span {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) rotate(90deg);
						width: 100%;
						height: 2px;
						background-color: v.$c-black;
					}
				}
			}
		}

		&-value {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			border: 1px solid v.$c-light;
			border-radius: v.$br4;
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 12px;
			line-height: v.$lh150;
		}
	}

	.add {
		min-width: 137px;
		z-index: 1;
		transition: opacity ease-in-out v.$tr;

		@include g.hover {
			opacity: v.$op;
		}
	}

}