<div class="card" data-product-id="123" data-price-old="2200" data-price-new="1500">
    <div class="card-inner">
        <a href="#" class="card-img">
            <img src="@@src" alt="Картинка">
        </a>
        <div class="card-info">
            <div class="card-info-top">
                <div class="card-labels">
                     <span class="color-label red">
                    Рекомендуем
                </span>
                    <span class="color-label blue">
                    ТОП
                </span>
                </div>
                <div class="card-rate">
                    <img src="/img/star.svg" width="23" height="23" alt="Векторная звезда рейтинга">
                    <span>4.8/5</span>
                </div>
            </div>
            <div class="card-desc">
                <div class="card-title">
                    <h5>
                        <em>Moonshine Cookies fem,</em>Dutch Bulk
                    </h5>
                </div>
                <div class="card-stat">
                    <div class="card-row">
                        <div class="card-col">
                            <div class="card-col-item">
                                <img src="/img/thc.svg" width="20" height="20" alt="Векторная иконка">
                                <span>30-33%</span>
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-col-item">
                            <div class="card-col-type">
                                <div class="left">
                                    <span>Тип семян:</span>
                                    <div class="types">
                                        <span class="type active">A</span>/
                                        <span class="type">F</span>/
                                        <span class="type">R</span>
                                    </div>
                                </div>
                                <div class="right">
                                    <img src="/img/height.svg" width="20" height="20" alt="Векторная иконка">
                                    <span>70см</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-col-item">
                            <img src="/img/insa.svg" width="20" height="20" alt="Векторная иконка">
                            <span>Преимущественно сатива</span>
                        </div>
                    </div>
                    <div class="card-row">
                        <div class="card-col-item">
                            <img src="/img/sand-watch.svg" width="20" height="20" alt="Векторная иконка">
                            <span>Bruce Banner x Lemon OG</span>
                        </div>
                    </div>
                </div>
                <div class="card-price">
                    <span class="old-price">
                        1200 р
                    </span>
                    <span class="new-price">
                        1500 р
                    </span>
                </div>
                <div class="card-nums">
                    <button class="button borderless square active">1</button>
                    <button class="button borderless square">2</button>
                    <button class="button borderless square">3</button>
                </div>
                <div class="card-bottom">
                    <div class="card-counter">
                        <button class="decr"><span></span></button>
                        <span class="card-counter-value">1</span>
                        <button class="incr"><span></span></button>
                    </div>
                    <button class="button filled add">
                        Корзина
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>