@use '../vars/vars' as v;

@mixin button-bg {
	border-color: v.$c-accent;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-image: url('/img/button-bg.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		z-index: -1;
		transition: opacity ease-in-out v.$tr;
	}
}