@mixin button-bg {
	overflow: hidden;
	border: 0;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-image: url('/img/button-bg.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		z-index: -1;
	}
}