@use '../vars/vars' as v;
@use '../../scss/ui/bg' as bg;
@use '../../scss/mixins/global' as g;
@use '../utils/placeholders/buttons/button' as *;

%button-base {
	@extend %button;

	font-family: v.$ff-i;
	font-weight: v.$fw-400;
	font-size: 14px;
	padding: 8px 12px;

	@media(min-width: v.$md) {
		font-size: 16px;
		padding: 14px 16px;
	}
}

.button, button {
	@extend %button-base;

	border-radius: v.$br4;
	border: 1px solid transparent;

	&.borderless {
		color: v.$c-black;
		border-color: v.$c-light;
		gap: 10px;
		position: relative;

		@include bg.button-bg;

		&.active {
			z-index: 1;
			color: v.$c-white;

			&::after {
				opacity: 1;
			}
		}

		&.square {
			width: 50px;
			height: 50px;
			padding: 0;
			aspect-ratio: 1;
		}

		&.ico {
			gap: 16px;
			font-weight: v.$fw-300;

			.button-img {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 34px;
				height: 34px;
				border-radius: 100%;
				background-color: v.$c-light;
				transition: background-color ease-in-out v.$tr;

				img {
					width: 16px;
					height: 16px;
				}
			}

			@include g.hover {
				color: v.$c-white;

				@include bg.button-bg;

				&::after {
					opacity: 1;
				}

				.button-img {
					background-color: v.$c-white;
				}
			}

			&:active {
				opacity: v.$op;
			}
		}
	}

	&.orange {
		font-family: v.$ff;
		font-size: 16px;
		line-height: v.$lh150;
		background-color: v.$c-orange;
		color: v.$c-white;
		padding: 13px 26px;
	}

	&.filled {
		@extend %button-base;

		padding: 9px 12px;
		gap: 10px;
		border: 0;
		color: v.$c-white;
		border-radius: v.$br4;
		position: relative;

		@include bg.button-bg;


		&::after {
			opacity: 1;
		}

		@media(min-width: v.$md) {
			padding: 15px 16px;
		}

		img {
			width: 16px;
			height: 16px;

			@media(min-width: v.$md) {
				width: 24px;
				height: 24px;
			}
		}

		&.sm {
			padding: 5px 12px;

			@media(min-width: v.$md) {
				padding: 8px 15px;
			}
		}
	}

}

@mixin active-button {
	background-image: url("/img/button-bg.jpg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	img {
		filter: invert(1) brightness(200%);
	}
}