@use '../utils/placeholders/buttons/button' as *;

.dropdown {
	width: 100%;
	cursor: pointer;

	&-start {
		@extend %button;

		width: 100%;
	}

	&-open {
		overflow: hidden;
		height: 0;
		display: flex;
		flex-direction: column;
		transition: height ease 0.5s;
	}
}