@use '../vars/vars' as v;

.checkbox {
	display: flex;
	align-items: center;

	input {
		position: absolute;
		visibility: hidden;
		width: 1px;
		height: 1px;
	}

	label {
		display: flex;
		align-items: center;
		gap: 10px;
		position: relative;
		font-family: v.$ff;
		font-weight: v.$fw-400;
		font-size: 12px;
		color: v.$c-gray;
		cursor: pointer;

		&::before, &::after {
			content: '';
			display: block;
		}

		&::before {
			width: 20px;
			height: 20px;
			outline: 1px solid v.$c-light;
			border-radius: v.$br4;

			@media(min-width: v.$md) {
				width: 30px;
				height: 30px;
			}
		}

		&::after {
			position: absolute;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			background-color: v.$c-accent;
			background-image: url('../img/check.svg');
			background-size: 12px;
			background-position: center center;
			background-repeat: no-repeat;
			border-radius: v.$br4;
			opacity: 0;
			transition: opacity ease-in-out v.$tr;

			@media(min-width: v.$md) {
				width: 30px;
				height: 30px;
				background-size: 16px;
			}
		}

		&:has(input:checked)::after {
			opacity: 1;
		}
	}
}

.input {
	width: 100%;
	flex-grow: 1;

	&.search-input {
		input {
			padding-left: 52px;
		}

		.input-img {
			position: absolute;
			left: 24px;
			top: 50%;
			transform: translateY(-50%);
		}
	}

	&-label {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 6px;
		position: relative;
		font-family: v.$ff;
		font-weight: v.$fw-300;
		font-size: 12px;
		line-height: v.$lh150;
		color: v.$c-black;

		input {
			width: 100%;
			height: 42px;
			padding: 12px 16px;
			border-radius: v.$br4;
			background-color: v.$c-white;
			border: 1px solid v.$c-gray-m;
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 12px;
			line-height: v.$lh150;
			color: v.$c-black;

			&::placeholder {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 12px;
				line-height: v.$lh150;
				color: v.$c-gray;
			}
		}

		.require {
			color: v.$c-redwood;
		}
	}
}

.radio-input {
	display: flex;
	align-items: center;
	gap: 12px;
	font-family: v.$ff;
	font-weight: v.$fw-400;
	font-size: 14px;
	line-height: v.$lh150;
	color: v.$c-gray;
	cursor: pointer;
	position: relative;

	&::before {
		content: '';
		display: block;
		width: 18px;
		height: 18px;
		background-color: v.$c-white;
		border-radius: 50%;
		border: 1px solid v.$c-gray-m;
		aspect-ratio: 1;
	}

	&:after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 1;
		display: block;
		width: 8px;
		height: 8px;
		background-color: v.$c-white;
		border-radius: 50%;
		border: 6px solid v.$c-accent;
		aspect-ratio: 1;
		opacity: 0;
		transition: opacity ease-in-out v.$tr;
	}

	&:has(input[type="radio"]:checked)::after {
		opacity: 1;
	}

	input[type="radio"] {
		display: none;
		position: absolute;
		visibility: hidden;
		opacity: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

textarea {
	width: 100%;
	min-height: 105px;
	padding: 12px 16px;
	border-radius: v.$br4;
	background-color: v.$c-white;
	border: 1px solid v.$c-gray-m;
	font-family: v.$ff;
	font-weight: v.$fw-300;
	font-size: 12px;
	line-height: v.$lh150;
	color: v.$c-black;
	resize: none;

	&::placeholder {
		font-family: v.$ff;
		font-weight: v.$fw-300;
		font-size: 12px;
		line-height: v.$lh150;
		color: v.$c-gray;
	}
}