@use '../vars/vars' as v;
@use '../../scss/ui/bg' as bg;
@use '../../scss/mixins/global' as g;
@use '../utils/placeholders/buttons/button' as *;

.link {
	@extend %button;

	border-radius: v.$br4;
	border: 1px solid transparent;

	&.borderless {
		font-family: v.$ff-i;
		font-weight: v.$fw-400;
		font-size: 14px;
		border-color: v.$c-light;
		padding: 6px 12px;
		color: v.$c-black;
		position: relative;

		@include bg.button-bg;

		@media(min-width: v.$md) {
			font-size: 16px;
			padding: 12px 16px;
		}

		@include g.hover {
			color: v.$c-white;

			&::after {
				opacity: 1;
			}
		}
	}
}