@use '../../../../scss/vars/vars' as v;

.single-desc {
	width: 100%;
	margin-top: 20px;

	@media(min-width: v.$md) {
		margin-top: 40px;
	}

	&-items {
		width: 100%;
		display: flex;
		align-items: stretch;
		flex-wrap: wrap;
		gap: 30px;
		padding: 10px;
		border: 1px solid v.$c-gray-m;
		border-radius: v.$br4;

		@media(min-width: v.$md) {
			padding: 20px;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: center;
		gap: 24px;
		padding-bottom: 20px;
		border-bottom: 1px solid v.$c-gray-m;

		&:last-child {
			border-bottom: 0;
		}

		@media(min-width: v.$md) {
			flex-direction: column;
			gap: 12px;
			padding-bottom: 0;
			border: 0;
			width: calc(100% / 4 - 23px);
		}

		img {
			width: 43px;
			height: 43px;
			aspect-ratio: 1;
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 16px;
			line-height: v.$lh150;
			color: v.$c-black;
			text-align: center;
		}
	}
}