@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.cart-steps {
	padding: 16px 0;

	@media(min-width: v.$md) {
		padding: 30px;
		background-color: v.$c-gray-l;
	}

	&-items {
		width: 100%;
		max-width: 500px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		gap: 8px;
		margin: 0 auto;

		@media(min-width: v.$md) {
			max-width: 920px;
			align-items: center;
			gap: 38px;
		}
	}

	.cart-step {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		position: relative;

		@media(min-width: v.$md) {
			flex-direction: row;
			justify-content: flex-start;
			flex-shrink: 0;
		}

		&-circle {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-shrink: 0;
			width: 32px;
			height: 32px;
			border-radius: 100%;
			background-color: v.$c-white;
			border: 1px solid v.$c-light;

			@media(min-width: v.$md) {
				width: 50px;
				height: 50px;
			}

			img {
				width: 16px;
				height: 16px;

				@media(min-width: v.$md) {
					width: 24px;
					height: 24px;
				}
			}
		}

		&-desc {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 14px;
			line-height: v.$lh150;
			color: v.$c-gray;
			text-align: center;

			@media(min-width: v.$md) {
				font-size: 16px;
			}
		}


		&.active {
			.cart-step-circle {
				background-color: v.$c-accent;
				border-color: v.$c-accent;

				img {
					filter: invert(1) brightness(200%);
				}
			}
		}
	}

	.cart-step-line {
		width: 100%;
		height: 1px;
		background-color: v.$c-gray-m;
		border-radius: v.$br4;
		margin-top: 24px;

		@media(min-width: v.$md) {
			margin-top: 0;
		}
	}
}