@use '../../../../scss/vars/vars' as v;

.thumbs-swiper {
	width: 100%;
	max-width: 626px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;

	.swiper {
		width: 100%;

		&-pagination {
			bottom: 15px;

			@media(min-width: v.$xl) {
				display: none;
			}

			&-bullet {
				width: 24px;
				height: 6px;
				border-radius: v.$br4;
				background-color: v.$c-white;
				opacity: 1;

				&-active {
					background-color: #F9C50F;
				}
			}
		}
	}

	.main-swiper {
		position: relative;

		.swiper-slide {
			height: 270px;
			cursor: zoom-in;

			@media(min-width: v.$md) {
				height: 330px;
			}

			@media(min-width: v.$xl) {
				height: 470px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: v.$br4;
			}
		}

		.swiper-prev, .swiper-next {
			display: none;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 10;
			background-color: rgba(255, 255, 255, 0.66);

			@media(min-width: v.$xl) {
				display: flex;
			}
		}

		.swiper-prev {
			left: 18px;
		}

		.swiper-next {
			right: 18px;
		}
	}

	.swiper-thumbs {
		display: none;

		@media(min-width: v.$xl) {
			display: block;
		}

		.swiper-slide {
			cursor: pointer;
			transition: opacity ease-in-out v.$tr;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				aspect-ratio: 1;
				border-radius: v.$br4;
			}

			&-thumb-active {
				opacity: 0.7;
			}
		}
	}
}