@forward '../../html/components/common/footer/footer';
@forward '../../html/components/common/header/header';
@forward '../../html/sections/index/banner/banner';
@forward '../../html/sections/index/columns/columns';
