@use '../../../scss/vars/vars' as v;

.cart-card {
	width: 100%;
	padding: 20px 25px;
	outline: 1px solid v.$c-light;

	&-inner {
		display: flex;
		align-items: flex-start;
		gap: 20px;
	}

	&-left {
		display: flex;
		align-items: center;
		gap: 20px;
		flex-shrink: 0;
	}

	&-right {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-top {
			width: 100%;
			display: flex;
			align-items: flex-start;
			justify-content: space-between;
			gap: 24px;
		}

		.cart-card-title {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			.title-inner {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 4px;

				h4 {
					font-family: v.$ff;
					font-weight: v.$fw-700;
					font-size: 16px;
					line-height: v.$lh130;
					color: v.$c-gray;
				}

				p {
					font-family: v.$ff;
					font-weight: v.$fw-300;
					font-size: 14px;
					line-height: v.$lh130;
					color: v.$c-gray;
				}
			}

			span {
				font-family: v.$ff;
				font-weight: v.$fw-400;
				font-size: 12px;
				line-height: v.$lh130;
				color: v.$c-accent;
			}
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
	}

	&-items {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	&-item {
		display: flex;
		align-items: center;
		gap: 5px;

		img {
			width: 20px;
			height: 20px;
		}

		p, span {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 12px;
			line-height: v.$lh130;
		}

		p {
			color: v.$c-gray;
		}

		span {
			color: v.$c-accent;
		}
	}

	&-counter {
		display: flex;
		align-items: center;
		padding: 2px 0;

		.decr, .incr {
			width: 36px;
			height: 36px;
			padding: 0;
			transition: background-color ease-in-out v.$tr;

			&:active {
				background-color: v.$c-light;
			}

			span {
				width: 12px;
				height: 2px;
				border-radius: v.$br4;
				background-color: v.$c-black;
				aspect-ratio: 1;
			}

			&.incr {
				span {
					position: relative;

					&::after {
						content: '';
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%) rotate(90deg);
						width: 100%;
						height: 2px;
						background-color: v.$c-black;
					}
				}
			}
		}

		.value {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 36px;
			height: 36px;
			border: 1px solid v.$c-light;
			border-radius: v.$br4;
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 12px;
			line-height: v.$lh150;
		}
	}

	&-price {
		display: flex;
		align-items: center;
		gap: 16px;

		.old-price {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			color: #BABABA;
			font-size: 16px;
			text-decoration: line-through;
		}

		.new-price {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			line-height: v.$lh150;
			font-size: 24px;
			color: v.$c-accent;
		}
	}
}