@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.columns {
	width: 100%;
	padding: 30px 0;

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 42px;
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		padding: 16px 0;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			width: 100vw;
			height: 100%;
			margin-left: calc(50% - 50vw);
			display: block;
			background-image: url("/img/accent-bg.jpg");
			z-index: -1;
		}

		a {
			width: calc((100% - 16px) / 2);
			font-family: v.$ff;
			font-weight: v.$fw-300;
			color: v.$c-white;
			line-height: v.$lh150;
			font-size: 14px;

			@include g.hover {
				color: v.$c-orange;
			}
		}

		@media (min-width: v.$sm) {
			a {
				width: calc((100% - (16px * 2)) / 3);
			}
		}

		@media (min-width: v.$md) {
			padding: 30px 0;

			a {
				width: calc((100% - (16px * 3)) / 4);
			}
		}

		@media (min-width: v.$lg) {
			a {
				width: calc((100% - (16px * 4)) / 5);
				font-size: 16px;
			}
		}
	}

	&-buttons {
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 12px;
		padding: 0 20px;
		margin-left: calc(50% - 50vw);

		@include g.hide-x-scrollbar;

		@media(min-width: v.$md) {
			gap: 16px;
		}

		@media(min-width: v.$xl) {
			width: 100%;
			flex-wrap: wrap;
			margin-left: 0;
		}

		button {
			flex-grow: 1;
			flex-shrink: 0;
		}
	}
}