@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.columns {
	width: 100%;
	padding: 30px 0;

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 42px;
		}
	}

	&-items {
		width: 100%;
		column-count: 2;
		column-gap: 16px;

		@media(min-width: v.$sm) {
			column-count: 3;
		}

		@media(min-width: v.$md) {
			column-count: 4;
		}

		@media(min-width: v.$lg) {
			column-count: 5;
		}

		a {
			width: 100%;
			font-family: v.$ff;
			font-weight: v.$fw-300;
			color: v.$c-black;
			line-height: v.$lh150;
			font-size: 14px;
			margin-bottom: 4px;

			@media(min-width: v.$lg) {
				font-size: 16px;
				margin-bottom: 8px;
			}

			@include g.hover {
				color: v.$c-accent;
			}
		}
	}

	&-buttons {
		width: 100vw;
		display: flex;
		align-items: center;
		justify-content: flex-start;
		gap: 12px;
		padding: 0 20px;
		margin-left: calc(50% - 50vw);

		@include g.hide-x-scrollbar;

		@media(min-width: v.$md) {
			gap: 16px;
		}

		@media(min-width: v.$xl) {
			width: 100%;
			flex-wrap: wrap;
			margin-left: 0;
			padding: 0;
		}

		button {
			padding: 16px 0;
			flex-grow: 1;
			flex-shrink: 0;
		}
	}
}