@use '../../../../scss/vars/vars' as v;

.delivery-content {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;

	@media(min-width: v.$md) {
		gap: 60px;
	}

	.delivery-title {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 20px;
			color: v.$c-black;

			@media(min-width: v.$md) {
				font-size: 36px;
			}
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 14px;
			color: v.$c-gray;
		}
	}

	.delivery-box {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&.half {
			flex-direction: column;
			align-items: flex-start;
			gap: 30px;

			@media(min-width: v.$md) {
				gap: 60px;
			}

			.delivery-box-items {
				flex-direction: row;
			}
		}

		&.triple {
			gap: 30px;

			.delivery-box-items {
				gap: 20px;
				flex-direction: column;
				align-items: flex-start;

				@media(min-width: v.$lg) {
					flex-direction: row;
					align-items: stretch;
					gap: 30px;
				}
			}

			.delivery-box-item {
				max-width: 100%;
				background-image: url('/img/accent-bg.jpg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;

				h4, p {
					color: v.$c-white;
				}

				@media(min-width: v.$lg) {
					max-width: 100%;
				}
			}
		}

		&.row {
			.delivery-box-items {
				flex-direction: column;
			}

			.delivery-box-item {
				max-width: 100%;
				flex-direction: column;
				padding: 0;

				@media(min-width: v.$xl) {
					flex-direction: row;
					gap: 60px;
				}

				&.reverse {
					@media(min-width: v.$xl) {
						flex-direction: row-reverse;
					}
				}
			}

			.delivery-box-item-img {
				img {
					max-height: 100%;
				}
			}
		}

		&-title {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			@media(min-width: v.$md) {
				gap: 16px;
			}

			h3 {
				font-family: v.$ff;
				font-weight: v.$fw-500;
				font-size: 16px;
				line-height: v.$lh150;
				color: v.$c-black;

				@media(min-width: v.$md) {
					font-size: 24px;
				}
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-400;
				font-size: 14px;
				color: v.$c-gray;
			}
		}

		&-items {
			display: flex;
			width: 100%;
			gap: 10px;

			@media(min-width: v.$md) {
				gap: 32px;
			}
		}

		&-item {
			width: 100%;
			max-width: 704px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			padding: 30px 14px;
			border-radius: v.$br4;


			@media(min-width: v.$md) {
				padding: 30px;
			}

			&.border {
				outline: 1px solid v.$c-gray-m;
				border-radius: v.$br4;
			}

			&-inner {
				width: 100%;
				max-width: 685px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}

			&-img {
				display: flex;
				margin-bottom: 20px;

				img {
					width: 100%;
					max-height: 50px;

					@media(min-width: v.$md) {
						max-height: 70px;
					}
				}
			}

			h4 {
				font-family: v.$ff;
				font-weight: v.$fw-500;
				font-size: 16px;
				line-height: v.$lh150;
				color: v.$c-black;
				margin-bottom: 16px;

				@media(min-width: v.$md) {
					font-size: 20px;
				}
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 12px;
				color: v.$c-gray;

				@media(min-width: v.$md) {
					font-size: 14px;
				}
			}
		}
	}
}