@use '../../../../scss/vars/vars' as v;

.cta {
	padding: 20px 0;
	width: 100%;
	position: relative;

	@media(min-width: v.$md) {
		padding: 65px 0;
	}

	&-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 20px;

		@media(min-width: v.$md) {
			flex-direction: row;
			gap: 32px;
		}

		a {
			min-width: 260px;
		}
	}

	&-desc {
		width: 100%;
		max-width: 751px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 14px;

		@media(min-width: v.$md) {
			align-items: flex-start;
			gap: 24px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-600;
			line-height: 100%;
			color: v.$c-white;
			font-size: 20px;
			text-align: center;

			@media(min-width: v.$md) {
				font-size: 40px;
				text-align: left;
			}
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			color: v.$c-white;
			font-size: 16px;
			text-align: center;

			@media(min-width: v.$md) {
				font-size: 24px;
				text-align: left;
			}
		}
	}
}