// Colors.
$c-white: #FFF;
$c-black: #111;
$c-gray: #585858;
$c-light: #EDEDED;
$c-accent: #287424;
$c-accent-light: #24981E;
$c-orange: #EF8B2D;
$c-red: #D80A13;
$c-redwood: #9A4836;
$c-blue: #1E6F98;
