// Font families.
$ff: 'Lexend', sans-serif;

// Font sizes.
$fs-xs: 12px;
$fs-sm: 14px;
$fs-md: 16px;
$fs-lg: 18px;
$fs-xl: 20px;
$lh150: 1.5;
$lh130: 1.3;

// Font weights.
$fw-300: 300;
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;
$fw-700: 700;
