@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.news {
	padding: 60px 0;

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 40px;

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 28px;
			line-height: 32px;

			@media(min-width: v.$md) {
				font-size: 36px;
				line-height: 44px;
			}
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 32px;

		@media (min-width: v.$md) {
			justify-content: flex-start;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media (min-width: v.$sm) {
			max-width: 335px;
		}

		&-img {
			width: 100%;
			height: 200px;
			margin-bottom: 10px;

			@media (min-width: v.$md) {
				height: 240px;
				margin-bottom: 20px;
			}

			@media (min-width: v.$xl) {
				height: 290px;
			}

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: v.$br4;
			}
		}

		&-top {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			margin-bottom: 10px;

			@media(min-width: v.$md) {
				margin-bottom: 20px;
			}
		}

		&-date {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			font-size: 12px;
			color: #717378;

			@media (min-width: v.$md) {
				font-size: 14px;
			}
		}

		&-text {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;
			margin-bottom: 20px;

			@media(min-width: v.$md) {
				gap: 20px;
				margin-bottom: 34px;
			}

			h4 {
				font-family: v.$ff;
				font-weight: v.$fw-500;
				line-height: v.$lh130;
				font-size: 16px;
				color: v.$c-black;

				@media (min-width: v.$md) {
					font-size: 20px;
				}
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				line-height: v.$lh130;
				font-size: 14px;
				color: #717378;
				display: -webkit-box;
				-webkit-box-orient: vertical;
				overflow: hidden;
				-webkit-line-clamp: 3;
				line-clamp: 3;

				@media (min-width: v.$md) {
					font-size: 16px;
				}
			}
		}

		a {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			line-height: v.$lh150;
			font-size: 14px;
			color: v.$c-accent;
			text-decoration: underline;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			@include g.hover {
				opacity: v.$op;
				text-decoration: none;
			}
		}
	}
}