@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.search-result {
	display: none;
	width: 100%;
	border: 1px solid v.$c-light;
	background-color: v.$c-white;
	border-radius: v.$br4;
	padding: 8px;

	@media(min-width: v.$lg) {
		position: absolute;
		left: 0;
		top: calc(100% + 8px);
		z-index: 99;
	}

	&.showed {
		display: block;
	}

	&-items {
		display: flex;
		flex-flow: row wrap;
		align-items: flex-start;
		gap: 16px;
	}

	&-card {
		min-width: 100%;
		display: flex;
		align-items: stretch;
		gap: 10px;
		padding: 8px 8px 10px;
		border-radius: v.$br4;
		transition: background-color ease-in-out v.$tr;
		border-bottom: 1px solid v.$c-light;

		@include g.hover {
			background-color: v.$c-light;
		}

		@media(min-width: v.$md) {
			padding: 8px;
			border-bottom: 0;
			min-width: 290px;
		}

		&-img {
			width: 64px;
			height: 64px;
			flex-shrink: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&-info {
			width: 100%;
			min-height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4px;
		}

		&-title {
			font-family: v.$ff;
			font-weight: v.$fw-700;
			line-height: v.$lh130;
			font-size: 14px;
			color: v.$c-gray;

			em {
				font-style: normal;
				color: v.$c-redwood;
			}
		}

		&-desc {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
		}

		&-text {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh130;
			font-size: 14px;
			color: v.$c-gray;
		}

		&-value {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			line-height: v.$lh150;
			font-size: 16px;
			color: v.$c-accent;
		}
	}

	.all {
		font-family: v.$ff;
		font-weight: v.$fw-400;
		color: v.$c-gray;
		font-size: 14px;
		line-height: v.$lh130;
		text-decoration: underline;
		margin-top: 12px;
	}
}