<a href="#" class="news-card">
    <div class="news-card-img">
        <img src="/img/news.jpg" width="336" height="240" alt="Изображение">
    </div>
    <div class="news-card-inner">
        <div class="news-card-top">
            <span class="news-card-label @@color">@@label</span>
            <span class="news-card-date">10 июля 2025</span>
        </div>
        <h3 class="news-card-title">
            Автоцветы от Humboldt Seed Companys
        </h3>
        <p>
            Lorem ipsum dolor sit amet consectetur. Viverra libero nec nunc purus egestas tincidunt gravida nec
            tincidunt..
        </p>
    </div>
    <span class="v-more">Читать далее</span>
</a>