@use '../../../scss/vars/vars' as v;

.news-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 24px;
	cursor: pointer;

	@media(min-width: v.$sm) {
		width: calc(100% / 2 - 16px);
	}

	@media(min-width: v.$md) {
		width: calc(100% / 3 - 22px);
	}

	@media(min-width: v.$xl) {
		width: calc(100% / 4 - 24px);
	}

	&:hover {
		.v-more {
			color: v.$c-accent;
		}

		.news-card-img img {
			scale: 1.05;
			filter: brightness(1.2);
		}
	}

	&-img {
		width: 100%;
		border-radius: v.$br4;
		overflow: hidden;

		img {
			width: 100%;
			height: 240px;
			object-fit: cover;
			border-radius: v.$br4;
			outline: 1px solid v.$c-gray-m;
			transition: scale ease-in-out v.$tr, filter ease-in-out v.$tr;
		}
	}

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;
	}

	&-top {
		width: 100%;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 16px;
	}

	&-label {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 8px 14px;
		border-radius: v.$br4;
		text-transform: uppercase;
		font-family: v.$ff;
		font-weight: v.$fw-700;
		font-size: 12px;
		color: v.$c-white;

		&.orange {
			background-color: v.$c-orange;
		}

		&.green {
			background-color: #79BB75;
		}

		&.yellow {
			background-color: #F9C50F;
		}
	}

	&-date {
		font-family: v.$ff;
		font-weight: v.$fw-700;
		font-size: 14px;
		color: v.$c-gray;
	}

	&-title {
		font-family: v.$ff;
		font-weight: v.$fw-700;
		font-size: 20px;
		color: v.$c-black;
	}

	p {
		font-family: v.$ff;
		font-weight: v.$fw-700;
		font-size: 16px;
		color: v.$c-gray;
	}
}
