@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.shopping-cart {
	width: 290px;
	position: absolute;
	right: 0;
	top: calc(100% + 8px);
	padding: 12px 15px;
	border-radius: v.$br4;
	border: 1px solid v.$c-light;
	background-color: v.$c-white;
	opacity: 0;
	transform: translateY(-10%);
	visibility: hidden;
	z-index: 99;
	transition: opacity ease-in-out v.$tr, transform ease-in-out v.$tr, visibility v.$tr;

	@media(min-width: v.$sm) {
		width: 340px;
		right: 24px;
	}

	&.showed {
		opacity: 1;
		visibility: visible;
		transform: translateY(0);
	}

	&-inner {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
	}

	&-items {
		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 16px;
			line-height: v.$lh120;
			margin-bottom: 12px;
		}
	}

	&-card {
		display: flex;
		align-items: flex-start;
		gap: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid v.$c-light;

		&:last-child {
			border-bottom: 0;
			padding-bottom: 0;
		}

		&-img {
			width: 80px;
			height: 80px;
			flex-shrink: 0;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: v.$br4;
			}

			@include g.hover {
				opacity: v.$op;
			}
		}
	}

	&-info {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 16px;

		&-top {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 4px;

			.shopping-cart-card-title {
				display: flex;
				align-items: center;
				justify-content: space-between;
				gap: 10px;

				h4 {
					font-family: v.$ff;
					font-weight: v.$fw-700;
					color: v.$c-gray;
					font-size: 14px;
					line-height: v.$lh130;
					letter-spacing: 0;
				}

				button {
					@extend %button;

					flex-shrink: 0;
					width: 24px;
					height: 24px;
				}
			}

			.shopping-cart-card-desc {
				display: flex;
				align-items: center;
				gap: 10px;

				p {
					width: 100%;
					font-family: v.$ff;
					font-weight: v.$fw-300;
					color: v.$c-gray;
					font-size: 14px;
					line-height: v.$lh130;
				}

				span {
					flex-shrink: 0;
					font-family: v.$ff;
					font-weight: v.$fw-400;
					color: v.$c-accent;
					font-size: 16px;
					line-height: v.$lh150;
				}
			}
		}

		&-bottom {
			width: 100%;

			.shopping-cart-card-actions {
				display: flex;
				align-items: center;

				.s-decr, .s-incr {
					width: 32px;
					height: 32px;
					padding: 0;
					border-color: transparent;
					transition: background-color ease-in-out v.$tr;

					&:active {
						background-color: v.$c-light;
					}

					span {
						width: 12px;
						height: 2px;
						border-radius: v.$br4;
						background-color: v.$c-black;
						aspect-ratio: 1;
					}
				}

				.value {
					display: flex;
					align-items: center;
					justify-content: center;
					width: 32px;
					height: 32px;
					border: 1px solid v.$c-light;
					border-radius: v.$br4;
					font-family: v.$ff;
					font-weight: v.$fw-400;
					color: v.$c-black;
					font-size: 12px;
					line-height: v.$lh150;
				}

				.s-incr {
					span {
						position: relative;

						&::after {
							content: '';
							position: absolute;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%) rotate(90deg);
							width: 100%;
							height: 2px;
							background-color: v.$c-black;
						}
					}
				}
			}
		}
	}

	&-free {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 16px;
		padding: 8px 16px;
		background-color: v.$c-white;
		border-radius: v.$br4;
		border: 1px solid v.$c-light;

		&-ico {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 34px;
			height: 34px;
			border-radius: 100%;
			flex-shrink: 0;
			background-color: v.$c-light;

			img {
				width: 16px;
				height: 16px;
			}
		}

		&-info {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;

			.shopping-cart-free-text {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 14px;
				line-height: v.$lh150;
				color: v.$c-accent;
			}

			.shopping-cart-free-value {
				font-family: v.$ff;
				font-weight: v.$fw-700;
				font-size: 14px;
				line-height: v.$lh150;
				color: v.$c-accent;
			}
		}
	}

	&-desc {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 10px;

		&-top, &-bottom {
			width: 100%;
			display: flex;
			flex-direction: column;
		}

		&-bottom {
			padding-top: 10px;
			border-top: 1px solid v.$c-light;
		}

		&-item {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			margin-bottom: 10px;

			&:last-child {
				margin-bottom: 0;
			}

			.shopping-cart-desc-title, .shopping-cart-desc-value {
				font-family: v.$ff;
				font-weight: v.$fw-400;
				font-size: 14px;
				line-height: v.$lh150;
				color: v.$c-black;
			}

			&.bold {
				.shopping-cart-desc-title, .shopping-cart-desc-value {
					font-weight: v.$fw-700;
					font-size: 16px;
				}
			}
		}
	}
}