<div class="shopping-cart">
    <div class="shopping-cart-inner">
        <div class="shopping-cart-items">
            <h3>Корзина</h3>
            <div class="shopping-cart-group">
                <div class="shopping-cart-card">
                    <a href="#" class="shopping-cart-card-img">
                        <img src="/img/c1.jpg" width="80" height="80" alt="Изображение товара">
                    </a>
                    <div class="shopping-cart-info">
                        <div class="shopping-cart-info-top">
                            <div class="shopping-cart-card-title">
                                <h4>Moonshine Cookies fem</h4>
                                <button><img src="/img/delete.svg" width="24" height="24" alt="Удалить"></button>
                            </div>
                            <div class="shopping-cart-card-desc">
                                <p>Dutch Bulk</p>
                                <span>1500 р</span>
                            </div>
                        </div>
                        <div class="shopping-cart-info-bottom">
                            <div class="shopping-cart-card-actions">
                                <button class="s-decr">
                                    <span></span>
                                </button>
                                <span class="value">4</span>
                                <button class="s-incr">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="shopping-cart-card">
                    <a href="#" class="shopping-cart-card-img">
                        <img src="/img/c1.jpg" width="80" height="80" alt="Изображение товара">
                    </a>
                    <div class="shopping-cart-info">
                        <div class="shopping-cart-info-top">
                            <div class="shopping-cart-card-title">
                                <h4>Moonshine Cookies fem</h4>
                                <button><img src="/img/delete.svg" width="24" height="24" alt="Удалить"></button>
                            </div>
                            <div class="shopping-cart-card-desc">
                                <p>Dutch Bulk</p>
                                <span>1500 р</span>
                            </div>
                        </div>
                        <div class="shopping-cart-info-bottom">
                            <div class="shopping-cart-card-actions">
                                <button class="s-decr">
                                    <span></span>
                                </button>
                                <span class="value">4</span>
                                <button class="s-incr">
                                    <span></span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopping-cart-items">
            <h3>Бесплатно</h3>
            <div class="shopping-cart-free">
                <div class="shopping-cart-free-ico">
                    <img src="/img/posev.svg" width="16" height="16" alt="Векторная иконка">
                </div>
                <div class="shopping-cart-free-info">
                    <p class="shopping-cart-free-text">Бонусные семена </p>
                    <span class="shopping-cart-free-value">3 шт.</span>
                </div>
            </div>
        </div>
        <div class="shopping-cart-desc">
            <div class="shopping-cart-desc-top">
                <div class="shopping-cart-desc-item bold">
                    <h5 class="shopping-cart-desc-title">
                        Заказ на сумму
                    </h5>
                    <span class="shopping-cart-value">1500 р</span>
                </div>
                <div class="shopping-cart-desc-item">
                    <h5 class="shopping-cart-desc-title">Скидка:</h5>
                    <span>200 р.</span>
                </div>
                <div class="shopping-cart-desc-item">
                    <h5 class="shopping-cart-desc-title">Стоимость доставки</h5>
                    <span class="shopping-cart-desc-title">100 р.</span>
                </div>
            </div>
           <div class="shopping-cart-desc-bottom">
               <div class="shopping-cart-desc-item bold">
                   <h5 class="shopping-cart-desc-title">Итого</h5>
                   <span class="shopping-cart-desc-title">1500 р</span>
               </div>
           </div>
        </div>
        <a class="button borderless active" href="#">В корзину</a>
    </div>
</div>