@use '../../../../scss/vars/vars' as v;

.single-tabs {

	&-buttons {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;
		margin-bottom: 20px;

		@media(min-width: v.$md) {
			margin-bottom: 40px;
			gap: 24px;
		}
	}

	&-content {
		width: 100%;
	}

	&-texts {
		width: 100%;
		max-width: 640px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;

		@media(min-width: v.$md) {
			gap: 20px;
		}
	}

	&-text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 14px;

		@media(min-width: v.$md) {
			gap: 16px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-700;
			line-height: v.$lh150;
			font-size: 16px;
			color: v.$c-black;

			@media(min-width: v.$md) {
				font-size: 20px;
			}
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			line-height: v.$lh150;
			font-size: 14px;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			em {
				font-weight: v.$fw-500;
				font-style: normal;
				color: v.$c-accent;
			}
		}
	}

	.single-faq {
		width: 100%;
		max-width: 640px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 40px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-700;
			font-size: 20px;
			color: v.$c-black;

			@media(min-width: v.$md) {
				font-size: 32px;
			}
		}

		.single-dropdowns {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;
		}

		.single-dropdown {
			width: 100%;
			padding: 20px;
			border: 1px solid v.$c-gray-m;
			border-radius: v.$br4;

			&.opened {
				.dropdown-start span {
					&::after {
						opacity: 0;
					}
				}
			}

			.dropdown-start {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 16px;
				justify-content: space-between;

				h4 {
					width: 100%;
					font-family: v.$ff;
					font-weight: v.$fw-500;
					font-size: 16px;
					color: v.$c-black;

					@media(min-width: v.$md) {
						font-size: 20px;
					}
				}

				span {
					display: block;
					width: 18px;
					height: 18px;
					flex-shrink: 0;
					aspect-ratio: 1;
					position: relative;
					border-radius: v.$br4;

					&::before, &::after {
						content: "";
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
						width: 100%;
						transform: translateY(-50%);
						height: 3px;
						background-color: v.$c-accent;
						transition: opacity ease-in-out v.$tr;
						border-radius: v.$br4;
					}

					&::after {
						transform: translateY(-50%) rotate(90deg);
					}
				}
			}

			.dropdown-text {
				padding-top: 14px;
			}

			.dropdown-inner {
				width: 100%;

				p {
					font-family: v.$ff;
					font-weight: v.$fw-300;
					font-size: 14px;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						font-size: 16px;
					}
				}
			}
		}
	}
}