@use '../../../../scss/vars/vars' as v;

.steps {
	width: 100%;
	position: relative;
	padding: 40px 0;

	@media(min-width: v.$xl) {
		padding: 75px 0;
	}

	&-bg {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -1;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;

		@media(min-width: v.$md) {
			gap: 70px;
		}

		h3 {
			font-family: v.$ff;
			font-weight: v.$fw-600;
			line-height: 100%;
			color: v.$c-white;
			font-size: 28px;

			@media(min-width: v.$md) {
				font-size: 40px;
			}
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 20px;

		@media(min-width: v.$md) {
			gap: 60px;
		}
	}

	&-item {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@media(min-width: v.$sm) {
			width: calc(100% / 2 - 10px);
		}

		@media(min-width: v.$md) {
			width: calc(100% / 2 - 30px);
		}

		@media(min-width: v.$xxl) {
			width: calc(100% / 4 - 45px);
		}

		&-top {
			width: 100%;
			display: flex;
			align-items: flex-start;
			gap: 20px;
			margin-bottom: 20px;

			@media(min-width: v.$md) {
				gap: 30px;
				margin-bottom: 30px;
			}

			.circle {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 40px;
				height: 40px;
				border-radius: 50%;
				background-color: v.$c-orange;
				font-family: v.$ff;
				font-weight: v.$fw-600;
				line-height: 100%;
				color: v.$c-white;
				font-size: 16px;

				@media(min-width: v.$md) {
					font-size: 24px;
					width: 60px;
					height: 60px;
				}
			}

			img {
				max-width: 82px;
				max-height: 76px;

				@media(min-width: v.$xl) {
					max-width: 102px;
					max-height: 96px;
				}
			}
		}

		&-desc {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			@media(min-width: v.$md) {
				gap: 24px;
			}

			h4 {
				font-family: v.$ff;
				font-weight: v.$fw-600;
				line-height: 100%;
				color: v.$c-white;
				font-size: 20px;

				@media(min-width: v.$md) {
					font-size: 24px;
				}
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				line-height: 120%;
				color: v.$c-white;
				font-size: 14px;

				@media(min-width: v.$md) {
					font-size: 16px;
				}
			}
		}
	}
}