@use '../../../../scss/vars/vars' as v;

.single {
	width: 100%;
	padding-bottom: 40px;

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 32px;

		@media(min-width: v.$xl) {
			gap: 100px;
		}
	}

	&-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;

		@media(min-width: v.$xl) {
			flex-direction: row;
			align-items: flex-start;
			gap: 40px;
		}
	}

	&-bottom {
		width: 100%;
	}
}