@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/ui/bg' as bg;
@use '../../../../scss/mixins/global' as g;

.links {
	padding: 60px 0 30px;

	&-items {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		display: flex;
		align-items: center;
		padding: 0 20px;
		justify-content: flex-start;
		gap: 12px;

		@include g.hide-x-scrollbar;

		@media(min-width: v.$md) {
			gap: 16px;
		}


		@media(min-width: v.$xl) {
			width: 100%;
			margin-left: 0;
			padding: 0;
			flex-wrap: wrap;
		}

		a {
			flex-grow: 1;
			flex-shrink: 0;

			@include g.hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}
}