@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/ui/bg' as bg;
@use '../../../../scss/mixins/global' as g;

.links {
	padding: 60px 0 30px;

	&-items {
		width: 100vw;
		margin-left: calc(50% - 50vw);
		display: flex;
		align-items: center;
		padding: 0 20px;
		justify-content: flex-start;
		gap: 12px;

		@include g.hide-x-scrollbar;

		@media(min-width: v.$md) {
			gap: 16px;
		}


		@media(min-width: v.$xl) {
			width: 100%;
			margin-left: 0;
			padding: 0;
			flex-wrap: wrap;
		}

		a {
			flex-grow: 1;
			flex-shrink: 0;

			@include g.hover {
				&::after {
					opacity: 1;
				}
			}
		}
	}

	.view-all {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 24px;

		a {
			font-family: v.$ff-i;
			font-weight: v.$fw-400;
			line-height: v.$lh130;
			font-size: 14px;
			text-decoration: underline;
			color: v.$c-gray;
			transition: opacity ease-in-out v.$tr;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			@include g.hover {
				opacity: v.$op;
			}
		}
	}
}