@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/ui/bg' as bg;
@use '../../../../scss/mixins/global' as g;

.links {
	padding: 24px 0 0;

	@media(min-width: v.$md) {
		padding: 60px 0 30px;
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		gap: 12px;

		@media(min-width: v.$md) {
			gap: 16px;
			justify-content: flex-start;
		}

		@media(min-width: v.$xl) {
			width: 100%;
		}

		a {
			flex-shrink: 0;

			@include g.hover {
				&::after {
					opacity: 1;
				}
			}

			&:nth-child(n+9) {
				display: none;

				@media(min-width: v.$md) {
					display: flex;
					flex-grow: 1;
				}
			}
		}
	}

	.view-all {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-top: 24px;

		a {
			font-family: v.$ff-i;
			font-weight: v.$fw-400;
			line-height: v.$lh130;
			font-size: 14px;
			text-decoration: underline;
			color: v.$c-gray;
			transition: opacity ease-in-out v.$tr;

			@media(min-width: v.$md) {
				font-size: 16px;
			}

			@include g.hover {
				opacity: v.$op;
			}
		}
	}
}