@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.footer {
	padding: 45px 0;
	background-color: #404040;

	@media(min-width: v.$xl) {
		padding: 85px 0;
	}

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	p, a, .copyright {
		font-family: v.$ff;
		font-weight: v.$fw-300;
		font-size: 14px;
		color: #9D9EA2;
		transition: opacity ease-in-out v.$tr;

		@media(min-width: v.$md) {
			font-size: 16px;
		}

		@include g.hover {
			opacity: v.$op;
		}
	}

	&-top {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 32px;

			@media(min-width: v.$xl) {
				flex-direction: row;
			}
		}

		&-left {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 24px;

			@media(min-width: v.$sm) {
				flex-direction: row;
				align-items: center;
			}

			@media(min-width: v.$xl) {
				flex-direction: column;
				align-items: flex-start;
				max-width: 379px;
			}

			.footer-logo {
				display: flex;
				align-items: center;
				justify-content: center;
				flex-shrink: 0;
				transition: opacity ease-in-out v.$tr;

				@include g.hover {
					opacity: v.$op;
				}

				img {
					width: auto;
					height: 60px;

					@media(min-width: v.$md) {
						height: 90px;
					}
				}
			}

			p {
				@media(min-width: v.$xl) {
					max-width: 279px;
				}
			}
		}

		&-right {
			width: 100%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 32px;
			align-items: flex-start;
			flex-grow: 1;

			@media(min-width: v.$xl) {
				width: auto;
				gap: 0;
				flex-direction: column;
				align-items: flex-start;
			}

			.footer-nav {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				margin-bottom: 40px;

				@media(min-width: v.$md) {
					gap: 24px;
				}

				&-inner {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 32px;
				}

				span {
					max-width: 276px;
					font-family: v.$ff;
					font-weight: v.$fw-500;
					font-size: 16px;
					line-height: v.$lh150;
					color: v.$c-white;

					@media(min-width: v.$md) {
						font-size: 20px;
					}
				}

				ul {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 8px;

					@media(min-width: v.$md) {
						gap: 16px;
					}
				}
			}
		}

		.footer-images {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: flex-start;
			gap: 16px;
			padding-bottom: 23px;
			border-bottom: 1px solid #46494F;

			@media(min-width: v.$xl) {
				justify-content: center;
			}
		}
	}

	&-bottom {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
		gap: 16px;
		margin-top: 32px;

		.copyright {

		}

		&-links {
			display: flex;
			align-items: center;
			gap: 16px;

			@media(min-width: v.$md) {
				gap: 32px;
			}
		}
	}
}