@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.review-modal {
    .modal {
        max-width: 800px;
        width: 100%;
        padding: 32px 20px;
	    background-color: v.$c-white;
	    border-radius: v.$br4;
	    position: relative;

        @media(min-width: v.$md) {
            padding: 40px;
        }

	    &-close {
		    @extend %button;

		    width: 24px;
		    height: 24px;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    position: absolute;
		    right: 20px;
		    top: 20px;

		    @media(min-width: v.$md) {
			    width: 46px;
			    height: 46px;
		    }

		    span {
			    width: 100%;
			    height: 1px;
			    background-color: v.$c-black;
			    position: relative;
			    transform: rotate(45deg);

			    &::after {
				    content: '';
				    position: absolute;
				    top: 50%;
				    left: 0;
				    transform: translateY(-50%) rotate(90deg);
				    width: 100%;
				    height: 1px;
				    background-color: v.$c-black;
			    }
		    }
	    }
    }

    .modal-top {
        margin-bottom: 24px;

        h3 {
            font-family: v.$ff;
            font-weight: v.$fw-700;
            font-size: 24px;
            color: v.$c-black;

            @media(min-width: v.$md) {
                font-size: 32px;
            }
        }
    }

    .review-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

	.form-groups {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;

		@media(min-width: v.$sm) {
			flex-direction: row;
		}
	}

    .form-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 8px;

        label {
            font-family: v.$ff;
            font-weight: v.$fw-400;
            font-size: 12px;
            color: v.$c-black;
	        text-transform: uppercase;

	        span {
		        color: v.$c-redwood;
	        }
        }

        input[type="text"],
        textarea {
            width: 100%;
            padding: 12px 16px;
            border-radius: v.$br4;
            background-color: v.$c-white;
            border: 1px solid v.$c-gray-m;
            font-family: v.$ff;
            font-weight: v.$fw-300;
            font-size: 14px;
            color: v.$c-black;

            &::placeholder {
                color: v.$c-gray;
	            font-size: 14px;
            }
        }

        textarea {
            min-height: 120px;
            resize: none;
        }
    }

    .star-rating {
        display: flex;
        align-items: center;
        gap: 8px;

        .star-btn {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            transition: transform ease-in-out v.$tr;

            svg {
	            width: 24px;
	            height: 24px;
            }

            &:hover {
                transform: scale(1.1);
            }

            &.active svg path {
                fill: #F9C50F;
            }
        }
    }

    .file-upload {
        width: 100%;
        cursor: pointer;

        &-trigger {
            display: flex;
            align-items: center;
            gap: 12px;
            flex-wrap: wrap;
        }

        &-preview {
            display: flex;
            align-items: center;
            gap: 8px;
            flex-wrap: wrap;
        }

        &-item {
            position: relative;
            width: 80px;
            height: 80px;
            border-radius: v.$br4;
            overflow: hidden;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .remove-image {
                position: absolute;
                top: 4px;
                right: 4px;
                width: 20px;
                height: 20px;
                background-color: v.$c-white;
                border-radius: v.$br4;
                border: 1px solid v.$c-redwood;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;

	            img {
		            width: 16px;
		            height: 16px;
		            max-width: unset;
	            }
            }
        }

        &-add {
            width: 80px;
            height: 80px;
            border: 1px dashed v.$c-gray-m;
            border-radius: v.$br4;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: border-color ease-in-out v.$tr;

            .plus {
	            display: block;
	            width: 20px;
	            height: 20px;
	            position: relative;

	            &::before, &::after {
		            content: '';
		            position: absolute;
		            top: 50%;
		            transform: translateY(-50%);
		            left: 0;
		            width: 100%;
		            height: 2px;
		            background-color: v.$c-gray-m;
	            }

	            &::after {
		            transform: translateY(-50%) rotate(90deg);
	            }
            }

            &:hover {
                border-color: v.$c-accent;

                span {
                    color: v.$c-accent;
                }
            }
        }
    }

	.button.active {
		max-width: 168px;
	}
}