<div class="modal-wrapper modal-wrapper-active gift-modal" data-modal-id="gift">
    <div class="modal cards-slider">
        <button class="modal-close" data-modal-close>
            <span></span>
        </button>
        <div class="modal-top">
            <div class="title-group">
                <h3>
                    Ваш заказ на сумму, <span>5 000 р.</span>
                </h3>
            </div>
            <div class="title-group">
                <h4>
                    Выбирай подарки, Вам доступно на выбор:
                </h4>
                <p>
                    Узнать подробности можете на странице <a href="#">акций</a>
                </p>
            </div>
        </div>
        <div class="modal-tabs-buttons tab-buttons">
            <button class="button borderless modal-tab-button active" type="button" data-tab="1">
                Dutch Bulk
                <span class="choosen">
                    <span class="current">0</span>
                    <span class="separator">/</span>
                    <span class="all">10</span>
                </span>
            </button>
            <button class="button borderless modal-tab-button" type="button" data-tab="2">
                Barneys Farm
                <span class="choosen">
                    <span class="current">0</span>
                    <span class="separator">/</span>
                    <span class="all">10</span>
                </span>
            </button>
            <button class="button borderless modal-tab-button" type="button" data-tab="3">
                Seedsman
                <span class="choosen">
                    <span class="current">0</span>
                    <span class="separator">/</span>
                    <span class="all">10</span>
                </span>
            </button>
            <button class="button borderless modal-tab-button" type="button" data-tab="4">
                Dutch Passion
                <span class="choosen">
                    <span class="current">0</span>
                    <span class="separator">/</span>
                    <span class="all">10</span>
                </span>
            </button>
        </div>
        <div class="modal-tabs">
            @@include('components/modals/gift-modal/tab-content.html')
        </div>
        <a href="#" class="v-more">Посмотреть еще</a>
        <div class="gift-modal-buttons">
            <button class="button gray" type="button">Собери рандомно</button>
            <button class="button gray" type="button">Собери по росту</button>
            <button class="button gray" type="button">Собери по тгк</button>
            <button class="button gray" type="button">Собери по сроку</button>
            <button class="button gray" type="button">Покруче бонусы</button>
            <button class="button gray" type="button">Побольше бонусов</button>
        </div>
        <div class="choosen-wrapper">
            <span class="choosen-title">
                Выбранные семена
            </span>
            <div class="choosen-items">
                <div class="choosen-item">
                    <p>
                        Dutch Passion Amsterdam Amnesia feminized
                    </p>
                    <span>3 шт.</span>
                </div>
                <div class="choosen-item">
                    <p>
                        Dutch Passion Amsterdam Amnesia feminized
                    </p>
                    <span>3 шт.</span>
                </div>
            </div>
        </div>
        <div class="gift-modal-actions">
            <button class="button borderless" type="button">Сбросить</button>
            <button class="button borderless" type="button" data-modal-close="">Вернуться в корзину</button>
            <button class="button borderless active" type="button">Подтвердить</button>
        </div>
    </div>
</div>