<div class="modal-tabs-content tab-content active" data-tab="1">
    @@include('components/modal-card/modal-card.html', {"id": "db1", "title": "Moonshine Cookies fem", "brand": "Dutch Bulk", "thc": "30-33%", "height": "70см", "type": "A"})
    @@include('components/modal-card/modal-card.html', {"id": "db2", "title": "Amnesia Lemon", "brand": "Dutch Bulk", "thc": "25-27%", "height": "80см", "type": "B"})
    @@include('components/modal-card/modal-card.html', {"id": "db3", "title": "Critical Kush", "brand": "Dutch Bulk", "thc": "28-30%", "height": "75см", "type": "A"})
</div>
<div class="modal-tabs-content tab-content" data-tab="2">
    @@include('components/modal-card/modal-card.html', {"id": "bf1", "title": "Liberty Haze", "brand": "Barneys Farm", "thc": "29%", "height": "100см", "type": "Fem"})
    @@include('components/modal-card/modal-card.html', {"id": "bf2", "title": "LSD", "brand": "Barneys Farm", "thc": "24%", "height": "90см", "type": "Fem"})
</div>
<div class="modal-tabs-content tab-content" data-tab="3">
    @@include('components/modal-card/modal-card.html', {"id": "sm1", "title": "White Widow", "brand": "Seedsman", "thc": "22%", "height": "110см", "type": "Reg"})
</div>
<div class="modal-tabs-content tab-content" data-tab="4">
    @@include('components/modal-card/modal-card.html', {"id": "dp1", "title": "Amsterdam Amnesia", "brand": "Dutch Passion", "thc": "25%", "height": "120см", "type": "Fem"})
</div>