<div class="modal-tabs-content tab-content active" data-tab="1">
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
</div>
<div class="modal-tabs-content tab-content" data-tab="2">
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
</div>
<div class="modal-tabs-content tab-content" data-tab="3">
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
</div>
<div class="modal-tabs-content tab-content" data-tab="4">
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
    @@include('components/modal-card/modal-card.html')
</div>