@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.counter {
	display: flex;
	align-items: center;
	padding: 2px 0;

	.decr, .incr {
		padding: 0;
		border-color: transparent;
		transition: background-color ease-in-out v.$tr;

		span {
			width: 12px;
			height: 2px;
			border-radius: v.$br4;
			background-color: v.$c-black;
			aspect-ratio: 1;
			transition: background-color ease-in-out v.$tr;
		}

		&:active {
			background-color: v.$c-light;

			span {
				background-color: v.$c-accent;

				&::after {
					background-color: v.$c-accent;
				}
			}
		}
	}

	.incr {
		span {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%) rotate(90deg);
				width: 100%;
				height: 2px;
				background-color: v.$c-black;
				transition: background-color ease-in-out v.$tr;
			}
		}
	}

	.value {
		display: flex;
		align-items: center;
		justify-content: center;
		border: 1px solid v.$c-light;
		border-radius: v.$br4;
		font-family: v.$ff;
		font-weight: v.$fw-400;
		font-size: 12px;
		line-height: v.$lh150;
	}

	&.sm {
		.incr, .decr {
			width: 32px;
			height: 32px;
		}

		.value {
			width: 32px;
			height: 32px;
		}
	}

	&.md {
		.incr, .decr {
			width: 36px;
			height: 36px;
		}

		.value {
			width: 36px;
			height: 36px;
		}
	}

	&.lg {
		.incr, .decr {
			width: 50px;
			height: 50px;
		}

		.value {
			width: 50px;
			height: 50px;
		}
	}
}