@use '../vars/vars' as v;
@use '../mixins/global' as g;

* {
	outline: none;
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	-webkit-tap-highlight-color: rgb(0 0 0 / 0%);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: v.$ff;
	font-size: v.$fs-md;
	line-height: v.$lh150;
	color: v.$c-black;
	background-color: v.$c-white;
}

input {
	@include g.focus-visible(v.$c-gray);
}

textarea {
	@include g.focus-visible(v.$c-accent, 0, 4px);
}

button, a, select {
	@include g.focus-visible(v.$c-accent, 0, 4px);
}




img {
	display: block;
	max-width: 100%;
	height: auto
}

form, fieldset, input, textarea {
	padding: 0;
	margin: 0;
	border: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	overflow: hidden;
	clip: rect(0 0 0 0);
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	.footer {
		margin-top: auto
	}
}