@use '../vars/vars' as v;
@use '../utils/placeholders/titles/titles' as *;

h1, .h1, h2, .h2, h3, .h3,
h4, .h4, h5, .h5, h6, .h6 {
	@extend %title
}

a {
	display: inline-block;
	text-decoration: none;
	transition: opacity ease v.$tr, color ease-in-out v.$tr;
}

p {
	margin: 0;
	padding: 0;
}

b,
strong {
	font-weight: v.$fw-700
}

.texts {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;

	@media(min-width: v.$xl) {
		gap: 20px;
	}
}