<div class="modal-tab-card">
    <a href="#" class="modal-tab-card-img">
        <img src="/img/c1.jpg" width="80" height="80" alt="Изображение товара">
    </a>
    <div class="modal-tab-card-info">
        <div class="modal-tab-card-info-top">
            <div class="modal-tab-card-title">
                <h4>Moonshine Cookies fem</h4>
                <p>Dutch Bulk</p>
            </div>
            <div class="modal-tab-card-items">
                <div class="modal-tab-card-item">
                    <img src="/img/thc.svg" width="20" height="20" alt="Иконка">
                    <span>30-33%</span>
                </div>
                <div class="modal-tab-card-item">
                    <img src="/img/height.svg" width="20" height="20" alt="Иконка">
                    <span>70см</span>
                </div>
                <div class="modal-tab-card-item">
                    <span>Тип семян:</span>
                    <span class="type">A</span>
                </div>
            </div>
        </div>
        <div class="modal-tab-card-bottom">
            @@include('components/actions/counter/counter.html', {"size": "sm"})
        </div>
    </div>
</div>