@use '../../../scss/vars/vars' as v;
@use '../../../scss/mixins/global' as g;

.modal-tab-card {
	width: 100%;
	display: flex;
	align-items: flex-start;
	gap: 10px;
	padding: 10px;
	border: 1px solid v.$c-gray-m;
	border-radius: v.$br4;

	@media(min-width: v.$xl) {
		align-items: center;
		width: calc(50% - 20px);
		gap: 50xp;
	}

	@media(min-width: v.$xxl) {
		padding: 30px 40px;
	}

	&-img {
		width: 66px;
		height: 57px;


		@media(min-width: v.$md) {
			width: 215px;
			height: 186px;
		}

		@include g.hover {
			img {
				scale: 1.05;
			}
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			transition: scale ease-in-out v.$tr;
		}
	}

	&-info {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		&-top {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 10px;

			@media(min-width: v.$xl) {
				gap: 20px;
			}
		}
	}

	&-title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		h4 {
			font-family: v.$ff;
			font-weight: v.$fw-700;
			font-size: 12px;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 20px;
			}
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-300;
			font-size: 12px;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 20px;
			}
		}
	}

	&-items {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 8px;
		margin-bottom: 10px;

		@media(min-width: v.$xl) {
			margin-bottom: 37px;
			gap: 20px;
		}
	}

	&-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: 5px;

		img {
			width: 20px;
			height: 20px;
		}

		span {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 14px;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 16px;
			}
		}

		.type {
			color: v.$c-accent;
		}
	}
}