@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;
@use '../../../../scss/utils/placeholders/buttons/button' as *;

.shopping-cart-inner {
	width: 100%;
	padding: 25px 0 35px;

	@media(min-width: v.$lg) {
		padding: 66px 0 50px;
	}

	.cart-heading {
		margin-bottom: 30px;

		@media(min-width: v.$md) {
			margin-bottom: 40px;
		}

		h3, span {
			font-family: v.$ff;
			font-size: 20px;
			line-height: 44px;

			@media(min-width: v.$md) {
				font-size: 36px;
			}
		}

		h3 {
			font-weight: v.$fw-700;
			color: v.$c-black;
		}

		span {
			font-weight: v.$fw-300;
			color: v.$c-accent;
		}
	}

	.cart-form {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		@media(min-width: v.$lg) {
			flex-direction: row;
		}
	}

	.cart-left {
		width: 100%;
		display: flex;
		flex-direction: column;
		outline: 1px solid v.$c-light;
		border-radius: v.$br4;

		@media(min-width: v.$lg) {
			max-width: 826px;
		}

		&.no-border {
			outline: none;

			.cart-texts {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 20px;
				background-color: #FAFAFA;
				border-radius: v.$br4;
				padding: 20px;

				p {
					font-family: v.$ff;
					font-weight: v.$fw-300;
					font-size: 14px;
					line-height: v.$lh150;
					color: v.$c-black;

					@media(min-width: v.$md) {
						font-size: 20px;
					}
				}
			}

			.cart-promo {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 16px;
				margin-top: 40px;

				h4 {
					font-weight: v.$fw-700;
					font-size: 14px;
					line-height: v.$lh120;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						font-size: 18px;
					}
				}

				.button {
					@extend %button;

					font-family: v.$ff;
					font-weight: v.$fw-400;
					font-size: 16px;
					line-height: v.$lh150;
					gap: 12px;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						gap: 27px;
					}

					span {
						display: flex;
						align-items: center;
						gap: 7px;
						font-weight: v.$fw-700;
						font-size: 16px;
						line-height: v.$lh150;
						color: v.$c-accent;
						text-transform: uppercase;

						@media(min-width: v.$md) {
							font-size: 24px;
						}

						img {
							width: 20px;
							height: 20px;

							@media(min-width: v.$md) {
								width: 24px;
								height: 24px;
							}
						}
					}
				}
			}
		}

		&-items {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}

		&-top {
			width: 100%;
			display: flex;
			align-items: center;
			padding: 20px 15px;

			@media(min-width: v.$lg) {
				padding: 20px 25px;
			}
		}

		&-middle {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 22px;
		}

		&-bottom {
			width: 100%;
			padding: 20px 15px;

			@media(min-width: v.$lg) {
				padding: 20px 25px;
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-400;
				color: v.$c-gray;
				font-size: 14px;
				line-height: v.$lh120;

				@media(min-width: v.$md) {
					font-size: 16px;
				}
			}
		}

		&-promo {
			width: 100%;
			max-width: 717px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}

		&-buttons {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			gap: 10px;

			@media(min-width: v.$md) {
				gap: 16px;
			}

			button {
				width: 100%;

				@media(min-width: v.$sm) {
					width: auto;
				}
			}
		}
	}

	.cart-left-steps {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 24px;

		@media(min-width: v.$lg) {
			max-width: 826px;
		}
	}

	.cart-left-step {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
		padding: 20px;
		border-radius: v.$br4;
		background-color: v.$c-gray-l;

		&:first-child {
			.cart-left-step-title {
				&:first-child {
					padding-bottom: 20px;
					border-bottom: 1px solid v.$c-gray-m;
				}
			}
		}

		&-inner {
			width: 100%;

			.cart-left-buttons {
				display: flex;
				align-items: center;
				gap: 20px 32px;
			}

			.cart-left-button {
				width: calc(50% - 16px);
				display: flex;
				align-items: center;
				gap: 10px;
				padding: 20px;
				border-radius: v.$br4;
				outline: 1px solid v.$c-gray-m;
				transition: background-color ease-in-out v.$tr, transform ease-in-out v.$tr;

				&.active {
					background-color: v.$c-gray-m;
				}

				&-img {
					width: 103px;
					display: flex;
					justify-content: center;
					align-items: center;
					flex-shrink: 0;
				}

				&-info {
					width: 100%;
					display: flex;
					flex-grow: 1;
					flex-direction: column;
					align-items: flex-start;
					gap: 5px;
				}

				&-title {
					font-family: v.$ff;
					font-weight: v.$fw-500;
					font-size: 16px;
					line-height: v.$lh150;
					color: v.$c-black;
				}

				&-desc {
					font-family: v.$ff;
					font-weight: v.$fw-300;
					font-size: 14px;
					line-height: v.$lh150;
					color: v.$c-gray;
				}
			}
		}

		&-title {
			display: block;
			width: 100%;
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 20px;
			line-height: v.$lh150;
			color: v.$c-black;
		}

		&-inputs {
			display: flex;
			align-items: stretch;
			gap: 20px;
		}

		.cart-left-select-wrapper {
			width: 100%;
			max-width: 243px;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 6px;

			.country-select {
				width: 100%;
				padding: 12px 16px;
				height: 42px;
				border-radius: v.$br4;
				background-color: v.$c-white;
				border: 1px solid v.$c-gray-m;
				cursor: pointer;
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 12px;
				line-height: v.$lh150;
				color: v.$c-gray;
			}
		}
	}

	.map {
		width: 100%;
		margin-top: 20px;

		iframe {
			width: 100%;
			height: 409px;
			border: 0;
		}
	}

	.payments-buttons {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 24px;

		.payment-button {
			width: calc(100% / 3);
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 5px;
			padding: 20px;
			border-radius: v.$br4;
			outline: 1px solid v.$c-gray-m;

			&.active {
				background-color: v.$c-gray-m;
			}

			&-title {
				font-family: v.$ff;
				font-weight: v.$fw-400;
				font-size: 16px;
				line-height: v.$lh150;
				color: v.$c-black;
			}

			&-desc {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				font-size: 14px;
				line-height: v.$lh150;
				color: v.$c-gray;
			}
		}
	}

	.payments-radio {
		width: 100%;
		display: flex;
		flex-direction: column;
		gap: 16px;
		margin-top: 20px;

		&-inputs {
			width: 100%;
			max-width: 365px;
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
		}

		&-title {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			font-size: 12px;
			line-height: v.$lh150;
			color: v.$c-gray;
		}
	}

	.inputs-group {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 20px;
	}

	.inputs {
		width: 100%;
		display: flex;
		align-items: center;
		gap: 20px;
	}

	.cart-right {
		width: 100%;
		padding: 20px 15px;
		outline: 1px solid v.$c-light;
		border-radius: v.$br4;

		@media(min-width: v.$lg) {
			padding: 20px 25px;
		}

		@media(min-width: v.$lg) {
			max-width: 584px;
		}

		&-empty {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 4px;
			margin-bottom: 30px;

			p {
				font-family: v.$ff;
				font-weight: v.$fw-600;
				color: v.$c-gray;
				font-size: 16px;
				line-height: v.$lh120;
				text-align: center;

				@media(min-width: v.$md) {
					font-size: 20px;
				}
			}

			span {
				font-family: v.$ff;
				font-weight: v.$fw-300;
				color: v.$c-gray;
				font-size: 16px;
				line-height: v.$lh120;
				text-align: center;

				@media(min-width: v.$md) {
					font-size: 20px;
				}
			}
		}

		&-inner {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;

			h4 {
				font-family: v.$ff;
				font-weight: v.$fw-700;
				color: v.$c-black;
				font-size: 24px;
				line-height: v.$lh120;
				margin-bottom: 24px;

				@media(min-width: v.$lg) {
					margin-bottom: 30px;
				}
			}

			&-items {
				width: 100%;
				max-width: 519px;
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				gap: 30px;
			}

			&-row {
				width: 100%;
				display: flex;
				align-items: center;
				gap: 16px;
				justify-content: space-between;
			}

			&-label, &-value {
				max-width: 50%;
				font-family: v.$ff;
				color: v.$c-black;
				font-size: 14px;
				line-height: v.$lh120;

				@media(min-width: v.$lg) {
					font-size: 20px;
				}
			}

			&-label {
				font-weight: v.$fw-400;
			}

			&-value {
				font-weight: v.$fw-300;
			}

			&-row.bold {
				.cart-right-inner-label {
					font-weight: v.$fw-700;
				}

				.cart-right-inner-value {
					font-weight: v.$fw-400;
					color: v.$c-accent;
				}
			}

			&-progress-wrapper {
				width: 100%;
				display: flex;
				flex-direction: column;
				align-items: flex-start;

				p {
					font-family: v.$ff;
					color: v.$c-gray;
					font-size: 14px;
					line-height: v.$lh150;
					margin-bottom: 6px;
					transition: padding ease-in-out v.$tr, background-color ease-in-out v.$tr, color ease-in-out v.$tr,
								border-radius ease-in-out v.$tr;

					&.free {
						text-transform: uppercase;
						color: v.$c-white;
						font-weight: v.$fw-700;
						background-color: v.$c-accent;
						padding: 4px;
						border-radius: v.$br4;
					}
				}

				a {
					font-family: v.$ff;
					font-weight: v.$fw-500;
					color: v.$c-black;
					font-size: 14px;
					line-height: v.$lh150;
					margin-bottom: 6px;
					text-decoration: underline;
				}
			}

			.filled {
				width: 100%;
			}

			&-progress {
				position: relative;
				width: 100%;
				height: 6px;
				background-color: #F4F4F4;
				border-radius: 100px;
				margin-bottom: 16px;

				&-track {
					position: absolute;
					height: 100%;
					background-color: #C8C9CB;
					border-radius: 100px;
					transition: width ease-in-out v.$tr, background-color ease-in-out v.$tr;

					&.free {
						background-color: v.$c-accent;
					}
				}
			}

			&-payment {
				width: 100%;

				.cart-right-payment-wrapper {
					width: 100%;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					gap: 20px;

					p {
						font-family: v.$ff;
						font-weight: v.$fw-300;
						color: v.$c-gray;
						font-size: 14px;
						text-transform: uppercase;
						line-height: v.$lh150;
					}
				}

				.cart-right-payment-items {
					width: 100%;
					display: flex;
					align-items: center;
					gap: 16px;
				}

				&-item {
					display: flex;
					justify-content: center;
					align-items: center;
					padding: 7px 15px;
					outline: 1px solid v.$c-light;
					border-radius: v.$br4;

					img {
						max-height: 20px;
					}
				}
			}
		}
	}

	.cart-empty {
		width: 100%;
		max-width: 560px;
		padding: 15px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 40px;
		margin: 0 auto;

		@media(min-width: v.$lg) {
			padding: 30px;
		}

		p {
			font-family: v.$ff;
			font-weight: v.$fw-400;
			color: v.$c-gray;
			font-size: 16px;
			line-height: v.$lh120;
			text-align: center;

			@media(min-width: v.$md) {
				font-size: 20px;
			}
		}

		a {
			width: 100%;
		}
	}

	.cart-total {
		width: 100%;

		&-top {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 20px;
		}

		&-bottom {
			width: 100%;
			padding-top: 20px;
			margin-top: 40px;
			border-top: 1px solid v.$c-gray-m;
		}

		&-row {
			width: 100%;
			display: flex;
			align-items: center;
			gap: 16px;
			justify-content: space-between;

			&-label, &-value {
				max-width: 50%;
				font-family: v.$ff;
				color: v.$c-black;
				font-size: 14px;
				line-height: v.$lh120;

				@media(min-width: v.$lg) {
					font-size: 20px;
				}
			}

			&-label {
				font-weight: v.$fw-400;
			}

			&-value {
				font-weight: v.$fw-300;
			}
		}

		&-row.bold {
			.cart-total-label {
				font-weight: v.$fw-700;
			}

			.cart-total-value {
				font-weight: v.$fw-400;
				color: v.$c-accent;
			}
		}
	}

	.cart-support {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;
		margin-top: 40px;

		h4 {
			font-family: v.$ff;
			font-weight: v.$fw-500;
			font-size: 14px;
			line-height: v.$lh120;
			color: v.$c-gray;

			@media(min-width: v.$md) {
				font-size: 20px;
			}
		}

		&-links {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 13px;

			a {
				display: flex;
				align-items: center;
				gap: 10px;

				img {
					width: 40px;
					height: 40px;

					@media(min-width: v.$md) {

					}
				}

				span {
					font-family: v.$ff;
					font-weight: v.$fw-400;
					font-size: 12px;
					line-height: v.$lh150;
					color: v.$c-gray;

					@media(min-width: v.$md) {
						font-size: 16px;
					}
				}
			}
		}
	}
}