@use '../../scss/vars/vars' as v;

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content
		}
	}
}

@mixin hide-x-scrollbar {
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}

	@media(min-width: v.$xl) {
		overflow-x: hidden;
	}
}