@use '../../scss/vars/vars' as v;

@mixin hover {
	@media (hover: hover) {
		&:hover {
			@content
		}
	}
}

@mixin focus-visible($color, $offset: 0, $radius: 0) {
	outline: none;

	&:focus-visible {
		outline: 2px solid $color;
		outline-offset: $offset;
		border-radius: $radius;
	}
}


@mixin hide-x-scrollbar {
	overflow-x: auto;
	-ms-overflow-style: none;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		width: 0;
		height: 0;
		display: none;
	}

	@media(min-width: v.$xl) {
		overflow-x: hidden;
	}
}