@use '../../../../scss/vars/vars' as v;
@use '../../../../scss/mixins/global' as g;

.seedbanks {
	padding: 30px 0 100px;

	&-wrapper {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 30px;

		@media(min-width: v.$md) {
			gap: 40px;
		}
	}

	&-items {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		align-items: stretch;
		gap: 10px;

		@media (min-width: v.$lg) {
			gap: 30px;
		}
	}

	&-item {
		flex: 1 1 calc(100% / 2 - 10px);
		padding: 14px;
		border: 1px solid v.$c-accent;
		border-radius: v.$br4;
		transition: background-color ease-in-out v.$tr;

		@media (min-width: v.$md) {
			flex: 1 1 calc(100% / 4 - 15px);
		}

		@media (min-width: v.$lg) {
			flex: 1 1 calc(100% / 6 - 25px);
			padding: 27px 14px 10px 14px;
		}

		&-inner {
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 15px;

			img {
				max-height: 72px;

				@media (min-width: v.$xxl) {
					max-height: 118px;
				}
			}

			p {
				font-family: v.$ff;
				font-weight: v.$fw-500;
				font-size: 14px;
				color: v.$c-black;
				transition: color ease-in-out v.$tr;
				text-align: center;

				@media (min-width: v.$md) {
					font-size: 16px;
				}
			}
		}

		@include g.hover {
			background-color: v.$c-accent;

			p {
				color: v.$c-white;
			}
		}
	}

	.link-wrapper {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}